=begin
#Maytes API

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.22.0

=end

require 'cgi'

module MaytesApiClient
  class DefaultApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Cancel authorized checkout
    # @param checkout_uuid [String] 
    # @param cancel_checkout_request [CancelCheckoutRequest] 
    # @param [Hash] opts the optional parameters
    # @return [CancelCheckoutResponse]
    def cancel_checkout(checkout_uuid, cancel_checkout_request, opts = {})
      data, _status_code, _headers = cancel_checkout_with_http_info(checkout_uuid, cancel_checkout_request, opts)
      data
    end

    # Cancel authorized checkout
    # @param checkout_uuid [String] 
    # @param cancel_checkout_request [CancelCheckoutRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CancelCheckoutResponse, Integer, Hash)>] CancelCheckoutResponse data, response status code and response headers
    def cancel_checkout_with_http_info(checkout_uuid, cancel_checkout_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.cancel_checkout ...'
      end
      # verify the required parameter 'checkout_uuid' is set
      if @api_client.config.client_side_validation && checkout_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'checkout_uuid' when calling DefaultApi.cancel_checkout"
      end
      # verify the required parameter 'cancel_checkout_request' is set
      if @api_client.config.client_side_validation && cancel_checkout_request.nil?
        fail ArgumentError, "Missing the required parameter 'cancel_checkout_request' when calling DefaultApi.cancel_checkout"
      end
      # resource path
      local_var_path = '/api/merchant/v1/checkouts/{checkoutUuid}/cancel'.sub('{checkoutUuid}', CGI.escape(checkout_uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(cancel_checkout_request)

      # return_type
      return_type = opts[:debug_return_type] || 'CancelCheckoutResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer']

      new_options = opts.merge(
        :operation => :"DefaultApi.cancel_checkout",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#cancel_checkout\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Capture authorized checkout
    # @param checkout_uuid [String] 
    # @param capture_checkout_request [CaptureCheckoutRequest] 
    # @param [Hash] opts the optional parameters
    # @return [CaptureCheckoutResponse]
    def capture_checkout(checkout_uuid, capture_checkout_request, opts = {})
      data, _status_code, _headers = capture_checkout_with_http_info(checkout_uuid, capture_checkout_request, opts)
      data
    end

    # Capture authorized checkout
    # @param checkout_uuid [String] 
    # @param capture_checkout_request [CaptureCheckoutRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CaptureCheckoutResponse, Integer, Hash)>] CaptureCheckoutResponse data, response status code and response headers
    def capture_checkout_with_http_info(checkout_uuid, capture_checkout_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.capture_checkout ...'
      end
      # verify the required parameter 'checkout_uuid' is set
      if @api_client.config.client_side_validation && checkout_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'checkout_uuid' when calling DefaultApi.capture_checkout"
      end
      # verify the required parameter 'capture_checkout_request' is set
      if @api_client.config.client_side_validation && capture_checkout_request.nil?
        fail ArgumentError, "Missing the required parameter 'capture_checkout_request' when calling DefaultApi.capture_checkout"
      end
      # resource path
      local_var_path = '/api/merchant/v1/checkouts/{checkoutUuid}/capture'.sub('{checkoutUuid}', CGI.escape(checkout_uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(capture_checkout_request)

      # return_type
      return_type = opts[:debug_return_type] || 'CaptureCheckoutResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer']

      new_options = opts.merge(
        :operation => :"DefaultApi.capture_checkout",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#capture_checkout\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a new checkout
    # @param create_checkout_request [CreateCheckoutRequest] 
    # @param [Hash] opts the optional parameters
    # @return [CreateCheckoutResponse]
    def create_checkout(create_checkout_request, opts = {})
      data, _status_code, _headers = create_checkout_with_http_info(create_checkout_request, opts)
      data
    end

    # Create a new checkout
    # @param create_checkout_request [CreateCheckoutRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateCheckoutResponse, Integer, Hash)>] CreateCheckoutResponse data, response status code and response headers
    def create_checkout_with_http_info(create_checkout_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.create_checkout ...'
      end
      # verify the required parameter 'create_checkout_request' is set
      if @api_client.config.client_side_validation && create_checkout_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_checkout_request' when calling DefaultApi.create_checkout"
      end
      # resource path
      local_var_path = '/api/merchant/v1/checkouts'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_checkout_request)

      # return_type
      return_type = opts[:debug_return_type] || 'CreateCheckoutResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer']

      new_options = opts.merge(
        :operation => :"DefaultApi.create_checkout",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#create_checkout\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get checkout details
    # @param checkout_uuid [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :merchant_order_id 
    # @return [GetCheckoutResponse]
    def get_checkout(checkout_uuid, opts = {})
      data, _status_code, _headers = get_checkout_with_http_info(checkout_uuid, opts)
      data
    end

    # Get checkout details
    # @param checkout_uuid [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :merchant_order_id 
    # @return [Array<(GetCheckoutResponse, Integer, Hash)>] GetCheckoutResponse data, response status code and response headers
    def get_checkout_with_http_info(checkout_uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.get_checkout ...'
      end
      # verify the required parameter 'checkout_uuid' is set
      if @api_client.config.client_side_validation && checkout_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'checkout_uuid' when calling DefaultApi.get_checkout"
      end
      # resource path
      local_var_path = '/api/merchant/v1/checkouts/{checkoutUuid}'.sub('{checkoutUuid}', CGI.escape(checkout_uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'merchant_order_id'] = opts[:'merchant_order_id'] if !opts[:'merchant_order_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetCheckoutResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer']

      new_options = opts.merge(
        :operation => :"DefaultApi.get_checkout",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#get_checkout\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Health check
    # @param [Hash] opts the optional parameters
    # @return [HealthResponse]
    def get_health(opts = {})
      data, _status_code, _headers = get_health_with_http_info(opts)
      data
    end

    # Health check
    # @param [Hash] opts the optional parameters
    # @return [Array<(HealthResponse, Integer, Hash)>] HealthResponse data, response status code and response headers
    def get_health_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.get_health ...'
      end
      # resource path
      local_var_path = '/api/health'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'HealthResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DefaultApi.get_health",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#get_health\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Issue an access token
    # @param o_auth_token_request [OAuthTokenRequest] 
    # @param [Hash] opts the optional parameters
    # @return [OAuthTokenResponse]
    def get_o_auth_token(o_auth_token_request, opts = {})
      data, _status_code, _headers = get_o_auth_token_with_http_info(o_auth_token_request, opts)
      data
    end

    # Issue an access token
    # @param o_auth_token_request [OAuthTokenRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(OAuthTokenResponse, Integer, Hash)>] OAuthTokenResponse data, response status code and response headers
    def get_o_auth_token_with_http_info(o_auth_token_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.get_o_auth_token ...'
      end
      # verify the required parameter 'o_auth_token_request' is set
      if @api_client.config.client_side_validation && o_auth_token_request.nil?
        fail ArgumentError, "Missing the required parameter 'o_auth_token_request' when calling DefaultApi.get_o_auth_token"
      end
      # resource path
      local_var_path = '/oauth/token'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(o_auth_token_request)

      # return_type
      return_type = opts[:debug_return_type] || 'OAuthTokenResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DefaultApi.get_o_auth_token",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#get_o_auth_token\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a settlement by UUID
    # @param uuid [String] Settlement UUID
    # @param [Hash] opts the optional parameters
    # @return [GetSettlementResponse]
    def get_settlement(uuid, opts = {})
      data, _status_code, _headers = get_settlement_with_http_info(uuid, opts)
      data
    end

    # Get a settlement by UUID
    # @param uuid [String] Settlement UUID
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetSettlementResponse, Integer, Hash)>] GetSettlementResponse data, response status code and response headers
    def get_settlement_with_http_info(uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.get_settlement ...'
      end
      # verify the required parameter 'uuid' is set
      if @api_client.config.client_side_validation && uuid.nil?
        fail ArgumentError, "Missing the required parameter 'uuid' when calling DefaultApi.get_settlement"
      end
      # resource path
      local_var_path = '/api/merchant/v1/settlements/{uuid}'.sub('{uuid}', CGI.escape(uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetSettlementResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer']

      new_options = opts.merge(
        :operation => :"DefaultApi.get_settlement",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#get_settlement\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List settlements for this merchant
    # Returns settlements for the authenticated merchant. Default sort: created_at ASC.
    # @param [Hash] opts the optional parameters
    # @option opts [Object] :offset Pagination offset (default 0)
    # @option opts [Object] :limit Max records to return (default 50, max 200)
    # @option opts [String] :sort_dir Sort direction (default: asc)
    # @option opts [String] :sort_by Field to sort by (default: created_at)
    # @option opts [Object] :created_before Include settlements created at or before this ISO-8601 timestamp
    # @option opts [Object] :created_after Include settlements created at or after this ISO-8601 timestamp
    # @option opts [String] :status Filter by status
    # @return [ListSettlementsResponse]
    def list_settlements(opts = {})
      data, _status_code, _headers = list_settlements_with_http_info(opts)
      data
    end

    # List settlements for this merchant
    # Returns settlements for the authenticated merchant. Default sort: created_at ASC.
    # @param [Hash] opts the optional parameters
    # @option opts [Object] :offset Pagination offset (default 0)
    # @option opts [Object] :limit Max records to return (default 50, max 200)
    # @option opts [String] :sort_dir Sort direction (default: asc)
    # @option opts [String] :sort_by Field to sort by (default: created_at)
    # @option opts [Object] :created_before Include settlements created at or before this ISO-8601 timestamp
    # @option opts [Object] :created_after Include settlements created at or after this ISO-8601 timestamp
    # @option opts [String] :status Filter by status
    # @return [Array<(ListSettlementsResponse, Integer, Hash)>] ListSettlementsResponse data, response status code and response headers
    def list_settlements_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.list_settlements ...'
      end
      allowable_values = ["asc", "desc"]
      if @api_client.config.client_side_validation && opts[:'sort_dir'] && !allowable_values.include?(opts[:'sort_dir'])
        fail ArgumentError, "invalid value for \"sort_dir\", must be one of #{allowable_values}"
      end
      allowable_values = ["created_at", "period_to", "settled_amount"]
      if @api_client.config.client_side_validation && opts[:'sort_by'] && !allowable_values.include?(opts[:'sort_by'])
        fail ArgumentError, "invalid value for \"sort_by\", must be one of #{allowable_values}"
      end
      allowable_values = ["CREATED", "PENDING", "COMPLETED", "FAILED", "NEEDS_REVIEW", "CANCELLED"]
      if @api_client.config.client_side_validation && opts[:'status'] && !allowable_values.include?(opts[:'status'])
        fail ArgumentError, "invalid value for \"status\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/api/merchant/v1/settlements'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'offset'] = opts[:'offset'] if !opts[:'offset'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'sort_dir'] = opts[:'sort_dir'] if !opts[:'sort_dir'].nil?
      query_params[:'sort_by'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?
      query_params[:'created_before'] = opts[:'created_before'] if !opts[:'created_before'].nil?
      query_params[:'created_after'] = opts[:'created_after'] if !opts[:'created_after'].nil?
      query_params[:'status'] = opts[:'status'] if !opts[:'status'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListSettlementsResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer']

      new_options = opts.merge(
        :operation => :"DefaultApi.list_settlements",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#list_settlements\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Refund a captured checkout
    # Initiates a full refund of the captured payment. Returns 204 immediately; Stripe confirms asynchronously via webhook. Poll GET /checkouts/:uuid for status and refund details.
    # @param checkout_uuid [String] 
    # @param create_refund_request [CreateRefundRequest] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def refund_checkout(checkout_uuid, create_refund_request, opts = {})
      refund_checkout_with_http_info(checkout_uuid, create_refund_request, opts)
      nil
    end

    # Refund a captured checkout
    # Initiates a full refund of the captured payment. Returns 204 immediately; Stripe confirms asynchronously via webhook. Poll GET /checkouts/:uuid for status and refund details.
    # @param checkout_uuid [String] 
    # @param create_refund_request [CreateRefundRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def refund_checkout_with_http_info(checkout_uuid, create_refund_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.refund_checkout ...'
      end
      # verify the required parameter 'checkout_uuid' is set
      if @api_client.config.client_side_validation && checkout_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'checkout_uuid' when calling DefaultApi.refund_checkout"
      end
      # verify the required parameter 'create_refund_request' is set
      if @api_client.config.client_side_validation && create_refund_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_refund_request' when calling DefaultApi.refund_checkout"
      end
      # resource path
      local_var_path = '/api/merchant/v1/checkouts/{checkoutUuid}/refund'.sub('{checkoutUuid}', CGI.escape(checkout_uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_refund_request)

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer']

      new_options = opts.merge(
        :operation => :"DefaultApi.refund_checkout",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#refund_checkout\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
